<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yxc.barchart">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--允许程序打开网络套接字-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--允许程序设置内置sd卡的写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许程序获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".ChartApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme2">

        <meta-data android:name="com.amap.api.v2.apikey" android:value="e1332bdc1e52860fca40d226137e69f2"/>

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustPan">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.step.StepActivity" />
        <activity android:name=".ui.sleep.SleepActivity" />
        <activity android:name=".ui.line.LineActivity" />
        <activity android:name=".ui.hrm.HrmActivity" />
        <activity android:name=".ui.waterdrop.WaterDropActivity" />
        <activity android:name=".ui.bezier.BezierActivity" />
        <activity android:name=".ui.rainbow.RainbowActivity"/>

        <!-- 定位需要的服务 使用2.0的定位需要加上这个 -->
        <service android:name="com.amap.api.location.APSService"/>

        <activity android:name=".map.location.LocationActivity" android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity android:name=".map.location.RecordListActivity" android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity android:name=".map.location.RecordShowActivity" android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>


        <activity android:name=".map.location.RecordCorrectShowActivity" android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <service
            android:name=".map.location.service.LocationService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote1">
            <intent-filter android:priority="1000">
                <action android:name="com.yxc.barchart.map.location.service.LocationService"></action>
            </intent-filter>
        </service>

        <service
            android:name=".map.location.service.LocationHelperService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote2">
            <intent-filter>
                <action android:name="com.yxc.barchart.map.location.service.LocationHelperService"></action>
            </intent-filter>
        </service>

        <service
            android:name=".map.location.service.LocalLocationService"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="com.yxc.barchart.map.location.service.LocalLocationService"></action>
            </intent-filter>
        </service>


    </application>

</manifest>